.dis_flex{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    /* position: absolute; */
    /* place-items: center;*/
     display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 10%;
}
.c_concepts{
    /* justify-content: space-around; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 60px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    background-color: white;
    color: #3c4e9d;
    font-size: 150%;
    /* margin-top: 15%; */
    /* margin-left: 12%; */
    padding: 6% 5% 5% 5%;
    /* justify-content: center; */
   

}
.content{
    /* text-align: center; */
    

}



/* .c_concepts{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 150px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    padding: 0% 0% 0% 0%;
    background-color: white;
    color: #3c4e9d;
    font-size: 110%;
    /* font-weight: 400; */
    /* margin-top: 7%; */
    /* margin: auto;   
    margin-top: 10%;
} */
 .c_concepts:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    
} 


