
.cl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin-top: 5%;
    color: #3c4e9d;
    
}
.car{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 130px;
    width: 130px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    padding: 3% 0% 2% 5%;   
    background-color: white;
    margin-top: 2%;
    margin: auto;
    /* border: 2px solid #3c4e9d; */
    
}

.heading1{
    margin-left: 42.2%;
    margin-right: 42%;
}
.heading2{
    margin-left: 43.4%;
    margin-right: 43%;
}
.heading3{
    margin-left: 43%;
    margin-right: 43%;
}
.heading4{
    margin-left: 41%;
    margin-right: 41%;
}
a{
    text-decoration: none;
    color: #3c4e9d;
}
.car:hover{
    transform: scale(1.1);
}